.NavItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
}

@media (min-width: 500px) {
    .NavItems {
        flex-flow: row;
        align-items: center;
        height: 100%;
    }
}