.NavItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavItem {
        margin: 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
    }
    
    .NavItem a {
        color: white;
        height: 100%;
        width: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active {
        color: white;
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
    }
}